$mediumPurple: #8f7fff;
$lavenderGray: #b6b4c6;
$gunmetal: #242b35;
$richBlack: #171e28;
$mediumPurpleT: #8f7fff26;
$charcoal: #3d444e;
$davysGray: #50555d;
$lavenderBlue: #c7bfff;
$white: #fff;
$red: #ff6a59;
$green: #27ae60;
$gradient: linear-gradient(180deg, rgba(191, 186, 250, 1) 10%, rgba(143, 127, 255, 1) 50%, rgba(98, 75, 255, 1) 87%);
$gradientT: linear-gradient(
  180deg,
  rgba(191, 186, 250, 0.5) 10%,
  rgba(144, 127, 255, 0.5) 50%,
  rgba(98, 75, 255, 0.5) 87%
);
