$mediumPurple: #8f7fff;
$maximumPurple: #a497FF;
$lavenderGray: #b6b4c6;
$gunmetal: #242b35;
$gunmetal1: #2d333d;
$gunmetal2: #313841;
$richBlack: #171e28;
$raisinBlack: #1e242f;
$mediumPurpleT: #8f7fff26;
$mediumPurpleT2: rgba(143, 127, 255, 0.5);
$mediumPurpleT3: rgba(143, 127, 255, 0.15);
$charcoal: #3d444e;
$davysGray: #50555d;
$lavenderBlue: #c7bfff;
$white: #fff;
$whiteT: #ffffff48;
$red: #ff6a59;
$green: #27ae60;
$gradient: linear-gradient(180deg, rgba(191, 186, 250, 1) 10%, rgba(143, 127, 255, 1) 50%, rgba(98, 75, 255, 1) 87%);
$gradientT: linear-gradient(
  180deg,
  rgba(191, 186, 250, 0.5) 10%,
  rgba(144, 127, 255, 0.5) 50%,
  rgba(98, 75, 255, 0.5) 87%
);
