@use "stylesheets/tools" as *;

@import "./stylesheets/nullstyle/nullstyle";
@import "./stylesheets/blocks";

body {
  background-color: $richBlack;
  color: $lavenderGray;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $mediumPurpleT;
  border-radius: $baseBorderRadius;
}
